body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: x-large;
}

form {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

header {
    background-color: #202020;
    color: white;
    
    margin-top: 0;
    display: flex;
    
    justify-content: space-between;
    
    padding-left: 5rem;
    padding-right: 5rem;
    
}

.headerBar {
    display: flex;
}

#addCard {
    display: flex;
    flex-direction: row;
}

#addButton {
    background-color: lightgreen;
    color: black;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#cardTitle {
    width: 20em;
    margin-right: 0.5rem;
}

#cardColor {
    width: 8em;
    margin-right: 0.5rem;
}

#board {
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    height: 100vh;
    overflow-y: auto;
    flex: 1;
}

.column {
    flex: 1;
    padding-bottom: 3rem;
    min-height: 100vh;
}

.column > * {
    width: 100%;
}

#todo,#done {
    background-color: #f0f0f0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.columnTitle {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

.card {
    border-radius: 0.5rem;
    padding: 0.5rem;
    position: relative;
    margin-bottom: 1rem;
}

.buttons {
    display: none;
}

.card:hover .buttons {
    display:flex;
    position: absolute;
    top: 0.5rem;
    right:0.5rem;
}

.card.dark {
    color: white;
}

.card.light {
    color: black;
}

#mode {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.dark-mode {
    background-color:#121212;
    color: #ffffff;
}

.dark-mode #todo {
    background-color: #515151; 
}

.dark-mode #done {
    background-color: #515151; 
}

@media screen and (max-width: 800px) {
    
    header {
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: center;

    }

    #board {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #cardTitle {
        width: 10em;
    }

    #cardColor {
        width: 4em;
    }
   
}